<div class="jumbotron">
<h3 class="display-4">Productos agregados al carrito</h3>
  <div class="media" *ngFor="let producto of listaProductos; index as i">
    <img [src]="producto.foto" width="200" alt="foto de {{producto.nombre}}">
    <div class="media-body ml-3 my-3">
      <div class="row">
        <div class="col-8">
          <p>{{ i+1 }}</p>
          <p>Producto <b>{{producto.nombre}}</b></p>
          <p>Precio <i>{{producto.precio}}</i></p>
        </div>
        <div class="col-4">
          <button class="btn btn-danger my-3" (click)="borrarProducto(producto._id)">BORRAR</button>
        </div>
      </div>
    </div>
  </div>

</div>