footer {
    background-color: lightgrey;
}

small {
    color:orange;
}

.fa {
    color:orange;
}

.input-group-text, .form-control {
    color:orange;
    border-color: orange;
}

.redes r, small {
    color:black;
}
