<footer>
  <div class="container-fluid">
    <div class="row m-auto">
      <div class="col-lg-4 col-12">

        <form class="my-3">
          <small class="text-center"><b>Dejanos tu consulta</b></small>
          <input type="text" class="form-control my-3" placeholder="Nombre">
          <input type="email" class="form-control my-3" placeholder="Email">
          <input type="textarea" class="form-control my-3" placeholder="Consulta">
          <button class="btn btn-success submit my-3">Enviar</button>
        </form>
      </div>

      <div class="col-lg-4 col-12">
        <div class="redes mx-3 text-center">
          <br>
          <p class="my-3">Seguinos en</p>
          <a class="fa fa-facebook fa-2x m-3" href="https://www.facebook.com"></a>
          <a class="fa fa-instagram fa-2x m-3" href="https://www.instagram.com"></a>
          <a class="fa fa-youtube fa-2x m-3" href="https://www.youtube.com"></a>

          <p class="my-2"><small>Lavalle 777 - Ciudad Autónoma de Buenos Aires<br>Atención al consumidor: 0800-555-7777<br>
            &copy; Todos los derechos reservados | Victoria Suárez</small></p>
        </div>
      </div>

      <div class="col-lg-4 col-12 m-auto">
        <img src="https://labellanea.vteximg.com.br/arquivos/mercado-pago-banner.png?v=636577814398670000"
          alt="mediosdepago" width="90%" class="my-3 mx-3">
      </div>
    </div>
  </div>
</footer>