<div class="container ">
    <div class="row">
        <div class="col-lg-6 col-12">
            <img class="my-3"
                src="https://c.pxhere.com/photos/90/8a/fashion_woman_clothing_female_standing_beauty_beautiful_caucasian-527819.jpg!d"
                alt="producto1">
        </div>

        <div class="col-lg-6 col-12">
            <h3>Producto1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="precio"><b>$1200</b></p>
            <p class="old-price">ANTES $1500</p>
            <br>
            <button class="btn my-3" (click)="comprar('Producto1')">Agregar al carrito</button>
        </div>

    </div>
</div>