<h2 class="my-3 text-center">Winter Season AW2019</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12 my-3">
        <div class="card m-auto">
            <img src="https://c.pxhere.com/photos/90/8a/fashion_woman_clothing_female_standing_beauty_beautiful_caucasian-527819.jpg!d"
                class="card-img-top m-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <p class="card-text">Lorem Ipsum <br><b>$1200</b> <small>  ANTES $1500</small></p>
                <a routerLink="/singular" class="btn btn-light link">COMPRAR</a>
            </div>
        </div>
    </div>

        <div class="col-lg-4 col-12 my-3">
        <div class="card m-auto">
            <img src="https://c.pxhere.com/photos/1c/e0/fashion_woman_clothing_female_standing_beauty_beautiful_caucasian-527825.jpg!d"
                class="card-img-top m-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem Ipsum <br><b>$1200</b> <small>  ANTES $1500</small></p>
                <a href="#" class="btn btn-light">COMPRAR</a>
            </div>
        </div>
    </div>

        <div class="col-lg-4 col-12 my-3">
        <div class="card m-auto">
            <img src="https://c.pxhere.com/photos/3f/b9/fashion_woman_clothing_female_standing_beauty_beautiful_caucasian-527808.jpg!d"
                class="card-img-top m-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 3</h5>
                <p class="card-text">Lorem Ipsum <br><b>$1200</b> <small>  ANTES $1500</small></p>
                <a href="#" class="btn btn-light">COMPRAR</a>
            </div>
        </div>
    </div>
   
        <div class="col-lg-4 col-12 my-3">
        <div class="card m-auto">
            <img src="https://c.pxhere.com/photos/3c/e3/fashion_woman_clothing_female_standing_beauty_beautiful_caucasian-527810.jpg!d"
                class="card-img-top m-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 4</h5>
                <p class="card-text">Lorem Ipsum <br><b>$1200</b> <small>  ANTES $1500</small></p>
                <a href="#" class="btn btn-light">COMPRAR</a>
            </div>
        </div>
    </div>
 
        <div class="col-lg-4 col-12 my-3">
        <div class="card m-auto">
            <img src="https://c.pxhere.com/photos/7e/77/fashion_woman_clothing_female_standing_beauty_beautiful_caucasian-527791.jpg!d"
                class="card-img-top m-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 5</h5>
                <p class="card-text">Lorem Ipsum <br><b>$1200</b> <small>  ANTES $1500</small></p>
                <a href="#" class="btn btn-light">COMPRAR</a>
            </div>
        </div>
    </div>

        <div class="col-lg-4 col-12 my-3">
        <div class="card m-auto">
            <img src="https://c.pxhere.com/photos/76/f0/fashion_woman_clothing_female_standing_beauty_beautiful_caucasian-527789.jpg!d"
                class="card-img-top m-auto" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto 6</h5>
                <p class="card-text">Lorem Ipsum <br><b>$1200</b> <small>  ANTES $1500</small></p>
                <a href="#" class="btn btn-light">COMPRAR</a>
            </div>
        </div>
    </div>

    <div class="m-auto">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Posterior</a></li>
        </ul>
    </div>

    </div>