<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://c.pxhere.com/images/68/00/274616691d207319ccbba7f3c38e-1427193.jpg!d" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c.pxhere.com/photos/fb/c7/fashion_woman_beauty_leisure_model_young_country_style_blonde-510074.jpg!d" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c.pxhere.com/photos/ab/09/boot_jeans_stool_woman_sitting-173156.jpg!d" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
 <app-productosdestacados></app-productosdestacados>
