<body>
<div class="container">
  <div class="row">
      <div class="col-lg-6 col-12"> 
          <h1 class="display-4 text-center my-3">Unite a TIENDA</h1>
          <p class="text-center">Registrate en nuestra tienda online y accedé a beneficios exclusivos.<br>
          ¿Todavía no tenés una cuenta? <a routerLink="/registrarse">¡Creala!</a></p>
        </div>

      <div class="col-lg-6 col-12"> 
      <form>
          <div class="form-group">
            <h3 class="my-3">Ingresá tus datos</h3>
            <input type="email" class="form-control my-3" id="Email"  placeholder="Email">
            
          </div>
          <div class="form-group my-3">
            <input type="password" class="form-control" id="Password" placeholder="Contraseña">
            <button type="button" class="btn btn-link">Olvidé mi contraseña</button>
          </div>
        
          <button type="submit" class="btn btn-success m-2">Entrar</button>
      </form>
        </div>
        
      </div>
    </div>
  </body>